## aliases
alias rmv='rm -v'
alias rmi='rm -i'
alias cpv='cp -v'
alias cls='clear'
alias lsl='ls -lhA'
alias lst='-ls -lrt'
alias cfs='gulp server --vagrant 8080'
alias gst='git status'
alias gfr='git fetch; git rebase'
alias xxxstap='git stash apply stash@{"$1"}'
alias stli='git stash list | head'
alias stlin='git stash list | head -n $1'
alias mgl='git log --author=kevin.justice --stat --color'
alias glog='git log --author kevin.justice'
alias gtl='git log --tags --simplify-by-decoration --pretty="format:%ci %d"'
alias unstage='git reset HEAD^'
alias sshjump='ssh kjustice@javadevjumpbox.prometheanjira.com'
alias lm='mysql -uroot -proot -D activfoundation --auto-vertical-output $@'
alias sqlcmd='mysql -u root -proot -D activfoundation -e $@'
alias col_diff='grep -vFf $1 $2'
alias xmod='chmod +x $1'
alias myip='curl https://wtfismyip.com/text'
alias .z='source ~/.zshrc'
alias .b='source /etc/bash.bashrc'
alias zed='vim ~/.zshrc'
alias ved='vim ~/.vimrc' 
alias vimmode='bindkey -v'
alias emacsmode='bindkey -e'
alias vali='vim ~/.aliases'
alias cali='cat ~/.aliases'
alias gali='cat ~/.aliases | grep'
alias sdr='screen -DR $1'
alias sls='screen -list'
alias tm='tmux -2'
alias tms='tmux-session restore'
alias j='jobs -l'
alias dop='nemo "$1" &'
alias sqllog_on='sqlcmd "set global general_log = TRUE"'
alias sqllog_off='sqlcmd "set global general_log = FALSE"'
alias sqltail='sudo tail -f /var/lib/mysql/pie-Precision-M4700.log'
alias ack='ack-grep'
alias sup='su -p'
alias ci='clipit'
alias sftpserver='/usr/lib/openssh/sftp-server'
alias manhelp='man man | grep -e "type exactly as shown" -A5 --color=NEVER'

# chinese content utilities (for aspose fix)
alias ch_uza='for f in ./*.ppt*; do unzip -l $f; done;'
alias ch_cpa='cp ./*.ppt* /sftp/john/incoming'
alias ch_rma='rm ./*.ppt*'

## functions
function logrep() { grep "$@" ~/.logs/commands.log }
function wcc() { cat "$1" | wc -m }
function wcl() { cat "$1" | wc -l }
function calc() { echo "$@" | bc }
function stsh() { # ${@:2} passes in all other commnd flags  
    git stash show stash@{"$1"} "${@:2}"
}
function stap() { # ${@:2} passes in all other commnd flags  
    git stash apply stash@{"$1"} "${@:2}"
}
