alias rm='rm -v'
alias rmi='rm -i'
alias cpv='cp -v'
alias cls='clear'
alias lsl='ls -lhA'
alias lst='-ls -lrt'
alias cfs='gulp server --vagrant 8080'
alias lb='liquibase_wrapper.sh'
alias stsh='stash_show.sh $1'
alias stap='stash_apply.sh $1'
alias stli='git stash list | cat'
alias glog='git log --author kevin.justice'
alias sshdev='ssh kjustice@chef-server.prometheanjira.com'
alias sshjump='ssh kjustice@javadevjumpbox.prometheanjira.com'
alias wcc='cat $1 | wc -m'
alias wcl='cat $1 | wc -l'
alias unstage='git reset HEAD^'
alias sqlcmd='mysql -u root -proot -D activfoundation -e $1'
alias col_diff='grep -vFf $1 $2'
alias xmod='chmod +x $1'
alias myip='curl https://wtfismyip.com/text'
alias taglog='git log --tags --simplify-by-decoration --pretty="format:%ci %d"'
alias .z='source ~/.zshrc'
alias .b='source /etc/bash.bashrc'
alias zed='vim ~/.zshrc'
alias ved='vim ~/.vimrc' 
alias vimmode='bindkey -v'
alias emacsmode='bindkey -e'
alias vali='vim ~/.aliases'
alias cali='cat ~/.aliases'
alias calc='echo $1 | bc'
alias reattach='screen -d -r'
alias sget='sudo apt-get install $1'
alias tm='tmux -2'
alias j='jobs -l'
alias dop='nemo "$1" &'
alias sqllog_on='sqlcmd "set global general_log = TRUE"'
alias sqllog_off='sqlcmd "set global general_log = FALSE"'
alias sqltail='sudo tail -f /var/lib/mysql/pie-Precision-M4700.log'
alias ack='ack-grep'
alias lm='mysqlr local'
alias sup='su -p'
alias mgl='git log --author=kevin.justice'
